* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#container {
    width: 1024px;
    margin:0 auto;
    padding: 10px;
    background: rgba(154, 153, 156, 0.37);
    box-shadow: 0px 0px 5px #000;
    height:2000px;
}

form {
    border:1px solid #dadada;
    padding: 10px;
    box-shadow: 0px 0px 5px #968f8f;
    float: right;
}

form.message {
    margin-top:20px;
}

form input[type=text], form input[type=password]  {
    width: 30%;
}
form input, form label {
    padding:5px;}

form input[type=submit] {
    display: block;
    margin: 10px auto 0;
    padding: 5px;
    width: 150px;
}

fieldset {
    border: none;
}

textarea {
    width:90%;
    height:50px;
}